

  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    height: 20vh;
    position: relative;
    z-index: 2;
   
  
  }
  
  .wrap div {
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
  }
  
  .btns_container{
    margin-top: 48px;
  }
  #mycanvas {
    display: block;
    box-sizing: border-box;
    border: 1px solid hsl(259, 100%, 65%)
  }

  
  .pointer {
    cursor: pointer;
  }
  
  li.pass {
    color: green
  }
  
  li.fail {
    color: red
  }